<div align="center">
  <% if @user.image.attached? %>
    <div>
        <%= image_tag @user.image %>
    </div>
  <% end %>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h2><%= @user.email %></h2>
</div>