<div class="jumbotron bg-light jumbotron-fluid">
  <div class="container">
    <h1 align="center" class="display-4" >Welcome to Weight Tracker</h1>
    <p  align="center" class="lead">This application is designed to help you keep track of your weight</p>
    <div align="center">
      <%= link_to "Sign up", new_user_path, class:"btn btn-secondary" %> |
      <button class="btn btn-secondary">Login</button>
    </div>
  </div>
</div>
